@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px;
  background: none;
  border: none;
  color: #444;
  border-radius: 3px;
  margin: 5px;
  background-color: white;
}

.idrow {
  margin-bottom: 10px;
}

.assignmentUi {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.assignment {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
}
